.counter {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 400px;
	align-items: center;
	justify-content: center;
	border: aqua solid 2px;
	border-radius: 20px;
	margin-right: 25px;
}

.counterRed {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 100px;
	border: aqua solid 2px;
	border-radius: 20px;
	font-size: 50px;
	color: red;
}

.counter .counterTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: 100px;
	border: aqua solid 2px;
	border-radius: 20px;
	font-size: 50px;
}
.buttonWrap {
	margin-top: 25px;
}

.buttonWrap button {
	width: 150px;
	background-color: aqua;
	border: none;
	color: gray;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	border-radius: 10px;
	box-shadow: 1px 1px 15px 5px rgba(0,255,255, 0.6);
	margin: 15px;
}

.btnActive {
	opacity: 1;
}

.btnDisabled {
	opacity: 0.5;
}


.setButton {
	width: 150px;
	background-color: aqua;
	border: none;
	color: gray;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	border-radius: 10px;
	box-shadow: 1px 1px 15px 5px rgba(0,255,255, 0.6);
	margin: 15px;
}