
.counter {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: center;
    border: aqua solid 2px;
    border-radius: 20px;
    margin-right: 25px;
}

.setCounter {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: aqua solid 2px;
    border-radius: 20px;
}

.setCounter .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    font-size: 20px;
}

.setCounter .box .setInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    border: aqua solid 1px;
    border-radius: 5px;
    background-color: aqua;
    color: #000;
    font-size: 25px;
    padding: 0 10px 0 10px;
}

.setCounter .box .setInput .wrapBtn {
    display: flex;
    flex-direction: column;

}